<!DOCTYPE html>
<!-- saved from url=(0121)https://www.webfx.com/tools/read-able/check.php?tab=Test+By+Url&uri=https%3A%2F%2Fgithub.com%2Fwords%2Fdale-chall-formula -->
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

	<title>Readability Test Results for github.com/words/dale-chall-formula</title>

	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="robots" content="noindex, nofollow">
	<meta name="ua" content="Amazon CloudFront">

	<link rel="shortcut icon" href="https://www.webfx.com/tools/read-able/favicon.ico">
	<link rel="stylesheet" href="./Readability Test Results for github.com_words_dale-chall-formula_files/style.css">
	<link rel="stylesheet" href="./Readability Test Results for github.com_words_dale-chall-formula_files/fonts.css">
	<!--<link type="text/css"  href="http://fonts.googleapis.com/css?family=Rokkitt:400,700" rel="stylesheet" />-->
	<!--<link type="text/css" href="./css/screen.css" rel="stylesheet" media="screen" />-->
	<link type="text/css"
		href="./Readability Test Results for github.com_words_dale-chall-formula_files/readability-custom.css"
		rel="stylesheet">
	<!--<link type="text/css" href="./css/ui.all.css" rel="stylesheet" />-->
	<link type="text/css" href="./stylesheets/style.css" rel="stylesheet">
	<script type="text/javascript"
		src="./Readability Test Results for github.com_words_dale-chall-formula_files/jquery-1.3.1.min.js.download">
	</script>
	<script type="text/javascript"
		src="./Readability Test Results for github.com_words_dale-chall-formula_files/jquery.ui.all.js.download">
	</script>
	<script type="text/javascript"
		src="./Readability Test Results for github.com_words_dale-chall-formula_files/behaviours.js.download"></script>
	<script src="https://code.jquery.com/jquery-3.5.1.js"
		integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
</head>

<body class="bg--light-gray-pattern readability">
	<div id="mobile-navigation" class="hide--desktop show--tablet mobile-navigation-overlay">
		<div class="mobile-navigation-overlay__close-row">
			<button id="mobile-navigation-close" class="mobile-navigation-close btn dark-blue">Close</button>
		</div>
		<div class="mobile-navigation-overlay__menu-row">
			<ul id="nav-list">
				<li class=" menu-has-children">
					<a href="https://www.webfx.com/seo-agency.html">SEO &amp; Lead Generation</a>
					<ul>
						<li class=""><a href="https://www.webfx.com/seo-services.html">SEO Services</a></li>
						<li class=""><a href="https://www.webfx.com/Local-SEO-Services.html">Local SEO Services</a></li>
						<li class=""><a href="https://www.webfx.com/local-seo-pricing.html">Local SEO Pricing</a></li>
						<li class=""><a href="https://www.webfx.com/SEO-Audits.html">SEO Audits</a></li>
						<li class=""><a
								href="https://www.webfx.com/conversion-rate-optimization-services.html">Conversion Rate
								Optimization</a></li>
						<li class=""><a href="https://www.webfx.com/Online-Website-Call-Tracking.php">Website Call
								Tracking</a></li>
						<li class=""><a href="https://www.webfx.com/custom-reporting.html">Custom SEO Reporting</a></li>
						<li class=""><a href="https://www.webfx.com/ppc-management-services.html">PPC Management</a>
						</li>
						<li class=""><a href="https://www.webfx.com/page-speed-optimization-services.html">Page Speed
								Optimization</a></li>
						<li class=""><a
								href="https://www.webfx.com/digital-recruitment-marketing-pricing.html">Employment &amp;
								Recruiting Marketing</a></li>
						<li class=""><a href="https://www.webfx.com/programmatic-advertising-services.html">Programmatic
								Advertising Services</a></li>
						<li class=""><a href="https://www.webfx.com/enterprise-seo-services.html">Enterprise SEO
								Services</a></li>
						<li class=""><a href="https://www.webfx.com/Competitor-Geofencing-Advertising.html">Competitor
								Geofencing Advertising</a></li>
						<li class=""><a href="https://www.webfx.com/amazon/amazon-seo-product-optimization.html">Amazon
								Optimization Management</a></li>
					</ul>
				</li>
				<li class=" menu-has-children">
					<a href="https://www.webfx.com/internet-marketing-agency.html">Content &amp; Analytics</a>
					<ul>
						<li class=""><a href="https://www.webfx.com/Website-Copywriter-Service.html">Website SEO
								Copywriting</a></li>
						<li class=""><a href="https://www.webfx.com/content-marketing-strategy.html">Content Marketing
								Strategy</a></li>
						<li class=""><a href="https://www.webfx.com/personalized-website-content.html">Personalized Web
								Content</a></li>
						<li class=""><a href="https://www.webfx.com/custom-infographics.html">Infographics &amp; Motion
								Graphics</a></li>
						<li class=""><a href="https://www.webfx.com/video-production-services.html">Web Video Production
								Services</a></li>
						<li class=""><a href="https://www.webfx.com/Social-Media-Services.html">Social Media Management
								Services</a></li>
						<li class=""><a href="https://www.webfx.com/review-management.html">Online Review Management
								Services</a></li>
						<li class=""><a href="https://www.webfx.com/Social-Media-Pricing.html">Social Media Design</a>
						</li>
						<li class=""><a href="https://www.webfx.com/Email-Marketing-Management-Services.html">Email
								Marketing Management Services</a></li>
						<li class=""><a href="https://www.webfx.com/email-marketing-design-pricing.html">Email Marketing
								Design</a></li>
						<li class=""><a href="https://www.webfx.com/lead-nurture-email-marketing.html">Lead Nurture
								Pricing</a></li>
						<li class=""><a
								href="https://www.webfx.com/voice-search-content-optimization-service.html">Voice Search
								Optimization</a></li>
					</ul>
				</li>
				<li class=" menu-has-children">
					<a href="https://www.webfx.com/Web-Design-Company.html">Creative &amp; UX</a>
					<ul>
						<li class=""><a href="https://www.webfx.com/websitedesign.htm">UX Website Design</a></li>
						<li class=""><a href="https://www.webfx.com/websiteredesign.htm">UX Website Redesign</a></li>
						<li class=""><a href="https://www.webfx.com/website-user-experience-analysis.htm">User
								Experience Testing</a></li>
						<li class=""><a href="https://www.webfx.com/best-ppc-landing-page-services.html">Landing Page
								Design</a></li>
						<li class=""><a href="https://www.webfx.com/ada-compliance-services.html">ADA Compliance
								Services</a></li>
						<li class=""><a href="https://www.webfx.com/rainmakerfx.html">Rapid Web Design</a></li>
						<li class=""><a href="https://www.webfx.com/ecommerce-company.html">Ecommerce Development</a>
						</li>
						<li class=""><a href="https://www.webfx.com/shoppingfeed-coupon-management.html">Shopping Feed
								Management</a></li>
						<li class=""><a href="https://www.webfx.com/website-maintenance-services.html">Website
								Maintenance</a></li>
						<li class=""><a href="https://www.webfx.com/How-much-should-web-site-cost.html">Website Cost
								Calculator</a></li>
						<li class=""><a href="https://www.webfx.com/client-testimonials.html">Client Testimonials</a>
						</li>
					</ul>
				</li>
				<li class=" menu-has-children">
					<a href="https://www.webfx.com/inside-webfx.html">Who We Are</a>
					<ul>
						<li class=""><a href="https://www.webfx.com/careers/">Careers (We Are Hiring!)</a></li>
						<li class=""><a href="https://www.webfx.com/profile.htm">About Us</a></li>
						<li class=""><a href="https://www.webfx.com/company-values.html">Company Values</a></li>
						<li class=""><a href="https://www.webfx.com/fxbuilds.html">FXBuilds</a></li>
						<li class=""><a href="https://www.webfx.com/WebFX-News.html">Company News</a></li>
						<li class=""><a href="https://www.webfx.com/moffitt-mansion-restoration.html">Our Space</a></li>
						<li class=""><a href="https://www.webfx.com/our-culture.html">Our Culture</a></li>
						<li class=""><a href="https://www.webfx.com/webpagefx-history.html">Our History</a></li>
						<li class=""><a href="https://www.webfx.com/knowledge-base.html">Knowledge Base</a></li>
						<li class=""><a href="https://www.webfx.com/client-testimonials.html">Hear From Our Clients</a>
						</li>
						<li class=""><a href="https://www.webfx.com/blog/">Blog</a></li>
						<li class=""><a href="https://www.webfx.com/marketingcloudfx.html">MarketingCloudFX</a></li>
						<li class=""><a href="https://www.webfx.com/tools/">Marketing Tools</a></li>
						<li class=""><a href="https://www.webfx.com/SEO-Pricing.html">SEO Pricing</a></li>
						<li class=""><a href="https://www.webfx.com/How-much-should-web-site-cost.html">How Much Should
								A Website Cost?</a></li>
						<li class=""><a href="https://www.webfx.com/ppc-pricing.html">How Much Does PPC Cost?</a></li>
						<li class=""><a href="https://www.webfx.com/email-marketing-pricing.html">Email Marketing
								Pricing</a></li>
						<li class=""><a href="https://www.webfx.com/local-seo-pricing.html">Local SEO Pricing</a></li>
						<li class=""><a
								href="https://www.webfx.com/blog/business-advice/the-cost-of-advertising-nationally-broken-down-by-medium/">Cost
								Of Advertising</a></li>
					</ul>
				</li>
				<li class="">
					<a href="https://www.webfx.com/contact.htm">Contact</a></li>
			</ul>
		</div>
	</div>

	<div class="site-wrapper">
		<div class="header-wrapper">
		</div>

		{{{body}}}




		<div class="black-section-wrapper">

		</div>








	</div>
</body>

</html>