<!DOCTYPE html>
<!-- saved from url=(0121)https://www.webfx.com/tools/read-able/check.php?tab=Test+By+Url&uri=https%3A%2F%2Fgithub.com%2Fwords%2Fdale-chall-formula -->
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

		<title>Readability Test Results for github.com/words/dale-chall-formula</title>

		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="robots" content="noindex, nofollow">
		<meta name="ua" content="Amazon CloudFront">

		<link rel="shortcut icon" href="https://www.webfx.com/tools/read-able/favicon.ico">
        <link rel="stylesheet" href="./Readability Test Results for github.com_words_dale-chall-formula_files/style.css">
        <link rel="stylesheet" href="./Readability Test Results for github.com_words_dale-chall-formula_files/fonts.css">
        <!--<link type="text/css"  href="http://fonts.googleapis.com/css?family=Rokkitt:400,700" rel="stylesheet" />-->
        <!--<link type="text/css" href="./css/screen.css" rel="stylesheet" media="screen" />-->
        <link type="text/css" href="./Readability Test Results for github.com_words_dale-chall-formula_files/readability-custom.css" rel="stylesheet">
        <!--<link type="text/css" href="./css/ui.all.css" rel="stylesheet" />-->

        <script type="text/javascript" src="./Readability Test Results for github.com_words_dale-chall-formula_files/jquery-1.3.1.min.js.download"></script>
        <script type="text/javascript" src="./Readability Test Results for github.com_words_dale-chall-formula_files/jquery.ui.all.js.download"></script>
        <script type="text/javascript" src="./Readability Test Results for github.com_words_dale-chall-formula_files/behaviours.js.download"></script>
	</head>
	<body class="bg--light-gray-pattern readability">
	<div id="mobile-navigation" class="hide--desktop show--tablet mobile-navigation-overlay">
    <div class="mobile-navigation-overlay__close-row">
        <button id="mobile-navigation-close" class="mobile-navigation-close btn dark-blue">Close</button>
    </div>
    <div class="mobile-navigation-overlay__menu-row">
        <ul id="nav-list">
<li class=" menu-has-children">
		<a href="https://www.webfx.com/seo-agency.html">SEO &amp; Lead Generation</a><ul>
<li class=""><a href="https://www.webfx.com/seo-services.html">SEO Services</a></li>
<li class=""><a href="https://www.webfx.com/Local-SEO-Services.html">Local SEO Services</a></li>
<li class=""><a href="https://www.webfx.com/local-seo-pricing.html">Local SEO Pricing</a></li>
<li class=""><a href="https://www.webfx.com/SEO-Audits.html">SEO Audits</a></li>
<li class=""><a href="https://www.webfx.com/conversion-rate-optimization-services.html">Conversion Rate Optimization</a></li>
<li class=""><a href="https://www.webfx.com/Online-Website-Call-Tracking.php">Website Call Tracking</a></li>
<li class=""><a href="https://www.webfx.com/custom-reporting.html">Custom SEO Reporting</a></li>
<li class=""><a href="https://www.webfx.com/ppc-management-services.html">PPC Management</a></li>
<li class=""><a href="https://www.webfx.com/page-speed-optimization-services.html">Page Speed Optimization</a></li>
<li class=""><a href="https://www.webfx.com/digital-recruitment-marketing-pricing.html">Employment &amp; Recruiting Marketing</a></li>
<li class=""><a href="https://www.webfx.com/programmatic-advertising-services.html">Programmatic Advertising Services</a></li>
<li class=""><a href="https://www.webfx.com/enterprise-seo-services.html">Enterprise SEO Services</a></li>
<li class=""><a href="https://www.webfx.com/Competitor-Geofencing-Advertising.html">Competitor Geofencing Advertising</a></li>
<li class=""><a href="https://www.webfx.com/amazon/amazon-seo-product-optimization.html">Amazon Optimization Management</a></li>
</ul>
</li>
<li class=" menu-has-children">
		<a href="https://www.webfx.com/internet-marketing-agency.html">Content &amp; Analytics</a><ul>
<li class=""><a href="https://www.webfx.com/Website-Copywriter-Service.html">Website SEO Copywriting</a></li>
<li class=""><a href="https://www.webfx.com/content-marketing-strategy.html">Content Marketing Strategy</a></li>
<li class=""><a href="https://www.webfx.com/personalized-website-content.html">Personalized Web Content</a></li>
<li class=""><a href="https://www.webfx.com/custom-infographics.html">Infographics &amp; Motion Graphics</a></li>
<li class=""><a href="https://www.webfx.com/video-production-services.html">Web Video Production Services</a></li>
<li class=""><a href="https://www.webfx.com/Social-Media-Services.html">Social Media Management Services</a></li>
<li class=""><a href="https://www.webfx.com/review-management.html">Online Review Management Services</a></li>
<li class=""><a href="https://www.webfx.com/Social-Media-Pricing.html">Social Media Design</a></li>
<li class=""><a href="https://www.webfx.com/Email-Marketing-Management-Services.html">Email Marketing Management Services</a></li>
<li class=""><a href="https://www.webfx.com/email-marketing-design-pricing.html">Email Marketing Design</a></li>
<li class=""><a href="https://www.webfx.com/lead-nurture-email-marketing.html">Lead Nurture Pricing</a></li>
<li class=""><a href="https://www.webfx.com/voice-search-content-optimization-service.html">Voice Search Optimization</a></li>
</ul>
</li>
<li class=" menu-has-children">
		<a href="https://www.webfx.com/Web-Design-Company.html">Creative &amp; UX</a><ul>
<li class=""><a href="https://www.webfx.com/websitedesign.htm">UX Website Design</a></li>
<li class=""><a href="https://www.webfx.com/websiteredesign.htm">UX Website Redesign</a></li>
<li class=""><a href="https://www.webfx.com/website-user-experience-analysis.htm">User Experience Testing</a></li>
<li class=""><a href="https://www.webfx.com/best-ppc-landing-page-services.html">Landing Page Design</a></li>
<li class=""><a href="https://www.webfx.com/ada-compliance-services.html">ADA Compliance Services</a></li>
<li class=""><a href="https://www.webfx.com/rainmakerfx.html">Rapid Web Design</a></li>
<li class=""><a href="https://www.webfx.com/ecommerce-company.html">Ecommerce Development</a></li>
<li class=""><a href="https://www.webfx.com/shoppingfeed-coupon-management.html">Shopping Feed Management</a></li>
<li class=""><a href="https://www.webfx.com/website-maintenance-services.html">Website Maintenance</a></li>
<li class=""><a href="https://www.webfx.com/How-much-should-web-site-cost.html">Website Cost Calculator</a></li>
<li class=""><a href="https://www.webfx.com/client-testimonials.html">Client Testimonials</a></li>
</ul>
</li>
<li class=" menu-has-children">
		<a href="https://www.webfx.com/inside-webfx.html">Who We Are</a><ul>
<li class=""><a href="https://www.webfx.com/careers/">Careers (We Are Hiring!)</a></li>
<li class=""><a href="https://www.webfx.com/profile.htm">About Us</a></li>
<li class=""><a href="https://www.webfx.com/company-values.html">Company Values</a></li>
<li class=""><a href="https://www.webfx.com/fxbuilds.html">FXBuilds</a></li>
<li class=""><a href="https://www.webfx.com/WebFX-News.html">Company News</a></li>
<li class=""><a href="https://www.webfx.com/moffitt-mansion-restoration.html">Our Space</a></li>
<li class=""><a href="https://www.webfx.com/our-culture.html">Our Culture</a></li>
<li class=""><a href="https://www.webfx.com/webpagefx-history.html">Our History</a></li>
<li class=""><a href="https://www.webfx.com/knowledge-base.html">Knowledge Base</a></li>
<li class=""><a href="https://www.webfx.com/client-testimonials.html">Hear From Our Clients</a></li>
<li class=""><a href="https://www.webfx.com/blog/">Blog</a></li>
<li class=""><a href="https://www.webfx.com/marketingcloudfx.html">MarketingCloudFX</a></li>
<li class=""><a href="https://www.webfx.com/tools/">Marketing Tools</a></li>
<li class=""><a href="https://www.webfx.com/SEO-Pricing.html">SEO Pricing</a></li>
<li class=""><a href="https://www.webfx.com/How-much-should-web-site-cost.html">How Much Should A Website Cost?</a></li>
<li class=""><a href="https://www.webfx.com/ppc-pricing.html">How Much Does PPC Cost?</a></li>
<li class=""><a href="https://www.webfx.com/email-marketing-pricing.html">Email Marketing Pricing</a></li>
<li class=""><a href="https://www.webfx.com/local-seo-pricing.html">Local SEO Pricing</a></li>
<li class=""><a href="https://www.webfx.com/blog/business-advice/the-cost-of-advertising-nationally-broken-down-by-medium/">Cost Of Advertising</a></li>
</ul>
</li>
<li class="">
		<a href="https://www.webfx.com/contact.htm">Contact</a></li>
</ul>
    </div>
</div>

<div class="site-wrapper">
	<div class="header-wrapper">
        <header id="header" class="site-header">
            <section class="container header-top clearfix">
                <div class="row">
                    <div class="col-xxs-6 col-xs-8 col-sm-7 col-md-5 col-lg-6 hard-right">
                        <div class="logo-container">
                            <a href="https://www.webfx.com/" class="logo"></a>
                            <a href="https://www.webfx.com/" class="logo-text"><span class="pictogram icon-house"></span> Return Home</a>
                        </div>
                        <div class="slogan hidden-xxs">
                           Digital Marketing<br>
                           That Drives Results®
                        </div>
                    </div>
                    <div class="col-xxs-6 col-xs-4 col-sm-5 col-md-7 col-lg-6 hard-left">
						<div class="site-header-quote-form hard-top">
							<a href="https://www.webfx.com/real-results.html">
								<div class="revenue-number hidden-xxs hidden-xs hidden-sm"><span class="font-weight-thin">$</span>2,416,945,839</div>
								<div class="revenue-text hidden-xxs hidden-xs hidden-sm">REVENUE DRIVEN<span><br></span> FOR OUR CLIENTS</div>
							</a>
							<a class="btn green hidden-md hidden-lg" href="https://www.webfx.com/Free-Quote.php">Get a Free Quote</a>
						</div>
                    </div>
                </div>
            </section>
﻿<div class="nav-wrapper js-generic-fixed-sidebar-top-marker">
                <nav class="container site-navigation" role="navigation">
                    <a href="https://www.webfx.com/" class="hidden-logo"></a>
                    <p class="phone-number"><a href="tel:18886015359"><span class="icon-mobile"></span> 888-601-5359</a></p>
                    <ul id="nav-list">
						<li class="menu-has-children"><a href="https://www.webfx.com/seo-agency.html">SEO &amp; Revenue Generation</a></li>
							<div class="meganav-block white-section-wrapper flex-row flex-space-around">
								<div class="flex-child flex-column">
									<div class="text-left">
										<p class="text--green flush twentypx">SEARCH PRICING</p>
										<p class="text--gray small-copy meganav-subline">Drive More Leads</p>
										<hr>
										<a href="https://www.webfx.com/seo-services.html">SEO Services</a>
										<a href="https://www.webfx.com/ecommerce-seo-services.html">Ecommerce SEO</a>
										<a href="https://www.webfx.com/Local-SEO-Services.html">Local SEO Services</a>
										<a href="https://www.webfx.com/ppc-management-services.html">PPC Management</a>
										<a href="https://www.webfx.com/ecommerce-ppc-services.html">Ecommerce PPC Services</a>
										<a href="https://www.webfx.com/google-local-services-ads-management.html">Google Local Services Ads Management</a>
									</div>
								</div>
								<div class="push-sides vertical-divider"></div>
								<div class="flex-child flex-column">
									<div class="text-left">
										<p class="text--green flush twentypx">BRAND PRICING</p>
										<p class="text--gray small-copy meganav-subline">Increase Your Reach</p>
										<hr>
										<a href="https://www.webfx.com/digital-recruitment-marketing-services.html">Employment &amp; Recruiting Marketing</a>
										<a href="https://www.webfx.com/programmatic-advertising-services.html">Programmatic Advertising Services</a>
										<a href="https://www.webfx.com/enterprise-seo-services.html">Enterprise SEO Services</a>
										<a href="https://www.webfx.com/Competitor-Geofencing-Advertising.html">Competitor Geofencing Advertising</a>
										<a href="https://www.webfx.com/addressable-geofencing-advertising-services.html">Addressable Geofencing Services</a>
									</div>
								</div>

								<div class="push-sides vertical-divider"></div>

								<div class="flex-child flex-column">
									<div class="text-left">
										<p class="text--green flush twentypx">MARKETPLACE PRICING</p>
										<p class="text--gray small-copy meganav-subline">Accelerate Your Revenue</p>
										<hr>
										<a href="https://www.webfx.com/amazon/amazon-seo-product-optimization.html">Amazon SEO &amp; Product Optimization</a>
										<a href="https://www.webfx.com/amazon/amazon-advertising.html">Amazon Advertising Management</a>
										<a href="https://www.webfx.com/amazon/amazon-stores-marketplace-launch.html">Amazon Stores &amp; Marketplace Launch</a>
										<a href="https://www.webfx.com/amazon/technology.html">Amazon Technology Platform</a>
										<a href="https://www.webfx.com/facebook-marketplace-for-business.html">Facebook Marketplace for Business</a>
										<a href="https://www.webfx.com/shopify-store-optimization-services.html">Shopify Optimization Services</a>
										<a href="https://www.webfx.com/target-marketplace-management.html">Target Plus™ Marketplace Management</a>
										<a href="https://www.webfx.com/walmart-marketplace-management.html">Walmart Marketplace Advertising</a>

									</div>
								</div>
								<div class="push-sides vertical-divider"></div>

										<div class="flex-child flex-column">
										<div class="text-left">
										<p class="text--green flush twentypx">FAQs</p>
										<p class="text--gray small-copy meganav-subline">Explore Expert Articles</p>
										<hr>
										<a href="https://www.webfx.com/blog/seo/what-is-an-seo-company/">What is an SEO company?</a>
										<a href="https://www.webfx.com/best-seo-company.html">How to find the best SEO company for your business</a>
										<a href="https://www.webfx.com/SEO-Packages.html">What's included in SEO packages?</a>
										<a href="https://www.webfx.com/internet-marketing/what-is-digital-marketing.html">What is digital marketing?</a>
										<a href="https://www.webfx.com/blog/seo/what-is-seo-management/">What is SEO management?</a>
										<a href="https://www.webfx.com/internet-marketing/how-does-ppc-bidding-work.html">How does PPC bidding work?</a>
										<a href="https://www.webfx.com/how-to-sell-online.html">How and Where to Sell Online in 2020</a>
									</div>
									</div>

			</div>
						<li class="menu-has-children"><a href="https://www.webfx.com/internet-marketing-agency.html">Content &amp; Analytics</a></li>
							<div class="meganav-block white-section-wrapper flex-row flex-space-around">
								<div class="flex-child flex-column">
								<div class="text-left">
									<p class="text--green flush twentypx">CONTENT PRICING</p>
									<p class="text--gray small-copy meganav-subline">Engage Your Readers</p>
									<hr>
									<a href="https://www.webfx.com/Website-Copywriter-Service.html">Website SEO Copywriting</a>
									<a href="https://www.webfx.com/content-marketing-services.html">Content Marketing Services</a>
									<a href="https://www.webfx.com/personalized-website-content.html">Personalized Web Content</a>
									<a href="https://www.webfx.com/custom-infographics.html">Infographics &amp; Motion Graphics</a>
									<a href="https://www.webfx.com/video-production-services.html">Web Video Production Services</a>
									<a href="https://www.webfx.com/voice-search-content-optimization-service.html">Voice Search Content Optimization</a>
								</div>
								</div>
								<div class="push-sides vertical-divider"></div>
								<div class="flex-child flex-column">
								<div class="text-left">
										<p class="text--green flush twentypx">SOCIAL PRICING</p>
										<p class="text--gray small-copy meganav-subline">Connect With Your Customers</p>
										<hr>
										<a href="https://www.webfx.com/Social-Media-Services.html">Social Media Management Services</a>
										<a href="https://www.webfx.com/review-management.html">Online Review Management Services</a>
										<a href="https://www.webfx.com/social-media-design.html">Social Media Design</a>
										<a href="https://www.webfx.com/social-media-advertising-services.html">Social Media Advertising Services</a>
								</div>

								</div>
								<div class="push-sides vertical-divider"></div>
								<div class="flex-child flex-column">
								<div class="text-left">
									<p class="text--green flush twentypx">ANALYTICS PRICING</p>
									<p class="text--gray small-copy meganav-subline">Improve Site Experience</p>
									<hr>
									<a href="https://www.webfx.com/marketingcloudfx.html">MarketingCloudFX</a>
									<a href="https://www.webfx.com/conversion-rate-optimization-services.html">Conversion Rate Optimization</a>
									<a href="https://www.webfx.com/Online-Website-Call-Tracking.php">Website Call Tracking</a>
									<a href="https://www.webfx.com/seo-checker/">Free SEO Report</a>
									<a href="https://www.webfx.com/custom-reporting.html">Custom SEO Reporting</a>
									<a href="https://www.webfx.com/SEO-Audits.html">SEO Audits</a>
									<a href="https://www.webfx.com/page-speed-optimization-services.html">Page Speed Optimization</a>
								</div>
								</div>
								<div class="push-sides vertical-divider"></div>

										<div class="flex-child flex-column">
										<div class="text-left">
										<p class="text--green flush twentypx">FAQs</p>
										<p class="text--gray small-copy meganav-subline">Explore Expert Articles</p>
										<hr>
										<a href="https://www.webfx.com/internet-marketing/social-media-marketing-advantages-and-disadvantages.html">Advantages &amp; Disdavantages of Social Media</a>
										<a href="https://www.webfx.com/social-media/how-much-does-it-cost-to-advertise-on-twitter.html">Twitter Advertising Cost</a>
										<a href="https://www.webfx.com/social-media/how-much-does-it-cost-to-advertise-on-instagram.html">Instagram Advertising Cost</a>
										<a href="https://www.webfx.com/social-media/how-much-does-it-cost-to-advertise-on-facebook.html">Facebook Advertising Cost</a>
										<a href="https://www.webfx.com/content-marketing/content-marketing-small-business.html">Content Marketing for Small Businesses</a>
										<a href="https://www.webfx.com/internet-marketing/best-online-advertising-strategies.html">Best Online Advertising Strategies</a>
										<a href="https://www.webfx.com/blog/social-media/33-creative-social-media-campaign-ideas/">Creative Social Media Campaign Ideas</a>
									</div>
									</div>

							</div>
						<li class="menu-has-children"><a href="https://www.webfx.com/Web-Design-Company.html">Creative &amp; UX</a></li>
							<div class="meganav-block white-section-wrapper flex-row flex-space-around">
								<div class="flex-child flex-column">
									<div class="text-left">
										<p class="text--green flush twentypx">DESIGN PRICING</p>
										<p class="text--gray small-copy meganav-subline">Dazzle Your Visitors</p>
										<hr>
										<a href="https://www.webfx.com/websitedesign.htm">UX Website Design</a>
										<a href="https://www.webfx.com/websiteredesign.htm">UX Website Redesign</a>
										<a href="https://www.webfx.com/website-user-experience-analysis.htm">User Experience Testing</a>
										<a href="https://www.webfx.com/best-ppc-landing-page-services.html">Landing Page Design</a>
										<a href="https://www.webfx.com/ada-compliance-services.html">ADA Compliance Services</a>
										<a href="https://www.webfx.com/rainmakerfx.html">Rapid Web Design</a>
									</div>

								</div>
								<div class="push-sides vertical-divider"></div>
								<div class="flex-child flex-column">
								<div class="text-left">
										<p class="text--green flush twentypx">EMAIL PRICING</p>
										<p class="text--gray small-copy meganav-subline">Build Your List</p>
										<hr>
										<a href="https://www.webfx.com/Email-Marketing-Management-Services.html">Email Marketing Management Services</a>
										<a href="https://www.webfx.com/email-marketing-design-pricing.html">Email Marketing Design</a>
										<a href="https://www.webfx.com/lead-nurture-email-marketing.html">Lead Nurture Pricing</a>
										<a href="https://www.webfx.com/account-based-marketing-services.html">Account Based Marketing Services</a>
								</div>

								</div>
								<div class="push-sides vertical-divider"></div>
								<div class="flex-child flex-column">
									<div class="text-left">
										<p class="text--green flush twentypx">DEVELOPMENT PRICING</p>
										<p class="text--gray small-copy meganav-subline">Control Your Process</p>
										<hr>
										<a href="https://www.webfx.com/ecommerce-company.html">Ecommerce Development</a>
										<a href="https://www.webfx.com/shoppingfeed-coupon-management.html">Shopping Feed Management</a>
										<a href="https://www.webfx.com/website-maintenance-services.html">Website Maintenance</a>
										<a href="https://www.webfx.com/cms.htm">Content Management Systems</a>
										<a href="https://www.webfx.com/customer-data-platform-services.html">Customer Data Platform</a>
									</div>

								</div>

								<div class="push-sides vertical-divider"></div>
								<div class="flex-child flex-column">
										<div class="text-left">
										<p class="text--green flush twentypx">FAQs</p>
										<p class="text--gray small-copy meganav-subline">Website Help Guides</p>
										<hr>
										<a href="https://www.webfx.com/blog/marketing/my-website-doesnt-drive-leads/">My Website Doesn't Drive Leads</a>
										<a href="https://www.webfx.com/blog/marketing/why-is-my-website-traffic-going-down/">My Website Traffic Is Going Down</a>
										<a href="https://www.webfx.com/blog/conversion-rate-optimization/my-website-doesnt-convert/">My Website Doesn't Convert</a>
										<a href="https://www.webfx.com/blog/web-design/why-isnt-my-website-making-money/">My Website Isn't Making Money</a>
										<a href="https://www.webfx.com/blog/seo/5-reasons-your-site-isnt-showing-up-on-google-and-how-to-fix-it/">My Website Isn't Showing Up on Google</a>
										<a href="https://www.webfx.com/blog/internet/my-website-is-not-secure/">My Website Is Not Secure</a>

									</div>
									</div>

							</div>
						<li class="menu-has-children"><a href="https://www.webfx.com/our-culture.html">Who We Are</a></li>
<div class="meganav-block white-section-wrapper flex-row flex-space-around">

    								<div class="text-left flex-child">
									<p class="text--dark-blue flush twentypx">WHO WE ARE</p>
									<hr>
									<a href="https://www.webfx.com/careers/">Careers (We Are Hiring!)</a>
									<a href="https://www.webfx.com/profile.htm">About Us</a>
									<a href="https://www.webfx.com/company-values.html">Company Values</a>
									<a href="https://www.webfx.com/fxbuilds.html">FXBuilds</a>
									<a href="https://www.webfx.com/our-culture.html">Our Culture</a>
									<a href="https://www.webfx.com/webpagefx-history.html">WebFX History</a>
									<a href="https://www.webfx.com/moffitt-mansion-restoration.html">Our Space</a>
									<a href="https://www.webfx.com/knowledge-base.html">Knowledge Base</a>
									<a href="https://www.webfx.com/awards.html">Awards</a>
								</div>
    <div class="push-sides vertical-divider"></div>
    <div class="text-left flex-child">
									<p class="text--dark-blue flush twentypx">LEARN MORE</p>
									<hr>
									<a href="https://www.webfx.com/portfolio/">Portfolio &amp; Case Studies</a>
									<a href="https://www.webfx.com/client-testimonials.html">WebFX Reviews From Clients</a>
									<a href="https://www.webfx.com/blog/">Blog</a>
									<a href="https://www.webfx.com/locations/">Locations</a>
									<a href="https://www.webfx.com/marketing-guides/">Marketing Guides</a>
									<a href="https://www.webfx.com/marketing-calculator.html">Marketing Calculator</a>
									<a href="https://www.webfx.com/tools/">Marketing Tools</a>

								</div>

								<div class="push-sides vertical-divider"></div>
								<div class="text-left flex-child">

									<p class="text--dark-blue flush twentypx">PRICING GUIDES</p>
									<hr>
									<a href="https://www.webfx.com/How-much-should-web-site-cost.html">How much should a website cost?</a>
									<a href="https://www.webfx.com/ppc-pricing.html">How much does PPC cost?</a>
									<a href="https://www.webfx.com/email-marketing-pricing.html">Email Marketing Pricing</a>
									<a href="https://www.webfx.com/Social-Media-Pricing.html">Social Media Pricing</a>
									<a href="https://www.webfx.com/SEO-Pricing.html">SEO Pricing</a>
									<a href="https://www.webfx.com/local-seo-pricing.html">Local SEO Pricing</a>
									<a href="https://www.webfx.com/blog/business-advice/the-cost-of-advertising-nationally-broken-down-by-medium/">The Cost of Advertising Nationally</a>
								</div>

								<div class="push-sides vertical-divider"></div>
								<div class="image-container center flex-child flex-column flex-center-content" style="background-image: url(/img/sidebar-team-long.png); background-repeat: no-repeat; background-position: center; background-size:cover;">
									<a class="blue-overlay hard-top flush-top" href="https://www.webfx.com/careers/">
										<div class="push-half-sides">
											<span class="uppercase text--white flush font-weight-bold" style="font-size:32px; line-height: 1em;">Careers ★ We Are Hiring</span>
											<p class="hard flush">View Openings</p>
										</div>
									</a>
								</div>
							</div>
						<li><a href="https://www.webfx.com/contact.htm">Contact</a></li>
					</ul>

					<div class="display--tablet uppercase small-copy sans-serif--bold mobile-site-menu__trigger">
                        <span class="icon-list2 mobile-site-menu__trigger-icon"></span>
                        <span class="mobile-site-menu__trigger-text">Menu</span>
                    </div>
                </nav>
            </div>		</header>
    </div>

  {{{body}}}




            <div class="black-section-wrapper">

	</div>








</div></body></html>
