{{!-- {{>header user=this.user}} --}}
<div>
<h1 style="text-align: center;">{{title}}</h1>
<span style="margin-left: 35%;">Tìm kiếm:  </span>
<input type="text" id="inputSearch" style="margin-right: 10px">
</div>
<div style="margin: 0% 5%;">
  {{!-- <p>Danh sách các từ ứng với thứ hạng hiện tại</p>
  <p style="color: red;">*Những từ không nằm trong danh sách ứng với thứ hạng 100</p> --}}
</div>
{{!-- <button>Tìm kiếm</button> --}}
<div class="table" style="margin: 2% 40%;">
    <table>
        <thead>
        <tr>
        <th>Từ</th>
        </tr>
        </thead>
        <tbody id="listWordRanking">
        {{#each listWord}}
        <tr>
            <td class="text">{{text}}</td>
        </tr>
        {{/each}}
        </tbody>
    </table>
</div>
<script>
  $("#inputSearch").keyup(function() {
    var value = $(this).val().toLowerCase();
    var listText = $('.text').each(function() {
      if ($(this).text().toLowerCase().indexOf(value) > -1) {
        $(this).css('display', 'table-cell');
      } else {
        $(this).css('display', 'none');
      }
    });
  });
</script>
{{!-- {{>footer}} --}}
