/* body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
} */

/* a {
  color: #00B7FF;
} */

.tooltip {
  position: relative;
    display: inline-block;
    font-size: 20px;
    line-height: 30px;
}

.tooltip .tooltiptext {
  visibility: hidden;
    width: 60px;
    background-color: #8f8a8a;
    color: white;
    text-align: center;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    font-size: 15px;
    margin-left: 5px;
    height: 30px;
  
    top: -20px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}