/* body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
} */

/* a {
  color: #00B7FF;
} */

.tooltip {
  position: relative;
  display: inline-block;
  font-size: 20px;
  line-height: 30px;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: max-content;
  background-color: #746e6e;
  color: white;
  text-align: center;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  font-size: 15px;
  margin-left: 5px;
  height: 30px;
  padding: 0px 10px;
  top: -20px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltip:hover {
  background-color: antiquewhite;
}

.dropbtn {
  background-color: #382912;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 38px;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 10px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}